*{
	margin:0;
	padding: 0;
}

.all{
	width: 90%;
	margin : auto;
    margin-top:50px;
    margin-right: 30px;

}
.p{
	display: inline-block;
	padding:50px;
	width: 450px;
	background-color: #eee;
	margin-top: 5px;

}
.noir {
	background-color: #333;
	color: white;
}
.p:hover{
	border-style: solid;
	border-color: black;
	border-width: 5px  ; 
	transition:0.5s;
	padding: 45px;

}
.a{
	color: #003366;
	margin-top:100px;
	font-size: 50px;
	margin-left:75PX;
	font-weight:  bold;
	text-shadow: 1px 1px 1px rgba(8, 8, 8, .8);
	font-family: comic sans MS
	
}


.photo{
	
	
    height:430px;
  	width: 100% ;
    background-image:url(https://images.unsplash.com/photo-1532972190883-11c46c01030b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=e301c9d8f98f85b993d535cbbeae311e) ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px #D2CAEC;



}
.title{
	color: white;
	font-weight: bold;
	font-size: 100px;
    padding-top: 220px;
    padding-left: 70px;
    font-family: comic sans MS;


}